body {
    font-family: Arial;
    background: #f4f4f4;
}

.container {
    width: 320px;
    margin: auto;
    margin-top: 50px;
    text-align: center;
    background: white;
    padding: 50px 70px 50px 50px;
    border-radius: 12px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

input {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
}

button {
    padding: 12px;
    width: 100%;
    background: black;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
}

button:hover {
    background: #333;
}

.invoice-box {
    margin: 30px;
    padding: 20px;
    background: white;
    display: none;
}

input,
select {
    display: block;
    width: 100%;
    box-sizing: border-box;
    /* 👈 IMPORTANT */
    margin: 10px 0;
    padding: 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
}

input[type="file"] {
    padding: 10px;
    background: #f9f9f9;
    cursor: pointer;
}

select {
    appearance: none;
    background: #fff;
    cursor: pointer;
}